<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Show</title>
</head>
<body>
<p th:text="${user.getName() + ' ' + user.getSurname()}">VALUE</p>
<p th:text="${'Age: ' + user.getAge()}">VALUE</p>
<p th:text="${'Email: ' + user.getEmail()}">VALUE</p>

<p th:text="${user.getId()}">VALUE</p>

<a th:href="@{/user/edit(id=${user.getId()})}">Edit</a>

<form th:method="POST" th:action="@{/user/delete(id=${user.getId()})}">
    <input type="submit" value="Delete"/>
</form>
</body>
</html>